Repository vaticle/typedb-common, pull requests merged in 2020-08, with the labels that each got.

#21 Make test server customizable for cluster
  test/server/BUILD
  test/server/GraknCoreRunner.java
  test/server/GraknRunner.java
  test/server/GraknSingleton.java
Labels: priority: high, type: feature

#23 Assemble maven from bazel_distribution
  BUILD
  WORKSPACE
  dependencies/graknlabs/repositories.bzl
Labels: priority: high, type: build, type: refactor

#24 Add grakn-bin and prepare for 0.2.4 release branching off from 0.2.3 tag
  .circleci/config.yml
  VERSION
  binary/BUILD
  binary/grakn
  binary/grakn-bin.spec
  binary/grakn-docker.sh
  binary/grakn.bat
Labels: priority: high, type: build

#26 Refactor WORKSPACE and add filegroup declaring CI targets
  BUILD
  WORKSPACE
  dependencies/graknlabs/repositories.bzl
Labels: type: build
